.list-title {
	font-size: 16px;
	line-height: 28px;
	font-weight: normal;
	color: #555;
	margin: 15px 0 0;
	border-top: 1px solid #ebeef5;
	padding: 10px 0 0 0;
	text-indent: 10px;
}

.el-table th > .cell {
	font-weight: normal;
}

.el-message-box {
	width: 90%!important;
	max-width: 420px;
}